<%-include('partials/header')%>

<div class="row container-fluid " id="home">
    <div class="header">
        <h1 class="text-dark">WELCOME TO YOUR DAILY JOURNAL</h1>
        <p class="text-white mb-0">
            Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Curabitur aliquet quam id dui posuere
            blandit. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Praesent sapien massa, convallis a
            pellentesque nec, egestas non nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
            suscipit tortor eget felis porttitor volutpat. Curabitur arcu erat, accumsan id imperdiet et, porttitor at
            sem. Cras ultricies ligula sed magna dictum porta.
        </p>
    </div>
</div>
<div class="container-fluid row-parent">
    <div class="row parent" id="">
        <%posts.forEach(post=> {%>
        <div class="post " id="">
            <h1 class="text-white">
                <%=post.title%>
            </h1>
            <p class="mb-0 text-dark">
                <%if(post.content.length > 100) {%>
                <%=post.content.substring(0, 500) + "...." %>
                <a href="/posts/<%=post._id%>">Read More</a>
                <%} else {%>
                <%=post.content%>
                <%} %>
            </p>
        </div>
        <%});%>
    </div>
</div>
<%- include('partials/footer')%>